@charset "utf-8";
/* CSS Document */
html{
	scroll-behaviors:smooth;
	
	
	
	
}




.social a{
	float: left;
	padding-right: 0px!important;
}
.social{
	border-left:1px solid #969696;
}
.top-menu{
	padding-left: 0px;
	padding-right: 0px;
}
.top-menu .navbar-nav .nav-link{
	padding-left: 15px;
	padding-right: 15px;
	color: #969696;
	font-size: 14px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.top-menu .navbar-nav .active a{
	color: #e80015!important;
}
.top-menu .navbar-nav .nav-link:hover{
	color: #e80015!important;
}
.banner{
	background:#26353a url(../images/ban1.jpg) center no-repeat;
	height: 571px;
	padding-top: 50px;
	box-sizing: border-box;
}
.banner h2{
	font-size: 36px;
	color: #7dd1ee;
	padding-left: 30px;
}
.banner ul{
	list-style-type: circle;
    margin: 0px;
	padding: 0px 20px;
}
.banner li{
	color: #FFFFFF;
	font-size: 17px;
	padding-top: 20px;
}
.about{
	background-color: #f8f8f8;
	padding: 100px 0px;
}
.about h2{
	color:#d40039;
	font-size: 24px;
	margin-bottom: 40px;
}
.about p{
	color:#4c5562;
	font-size: 18px;
}
.education{
	padding: 100px 0px;
	background-color: #FFFFFF;
}
.education .box{
	position: relative;
	display: block;
	margin-top: 30px;
}
.education .box p{
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 50px;
	background-color: rgba(0,0,0,0.70);
	color: #FFFFFF;
	text-align: center;
	line-height: 50px;
	margin: 0px;
	transition: .3s;
}
.education .box:hover p{
	height: 100%;
	background-color: rgba(252,2,6,0.70);
}
.education h2{
	font-size: 30px;
	color: #d40039;
	text-align: center;
	padding-bottom: 10px;
}
.btn-button{
	background-color: #d40039;
	font-size: 30px;
	height: 79px;
	width: 229px;
	color: #fff;
	text-align: center;
	line-height: 79px;
	display: block;
	margin: 40px auto;
	border:none;
}
.btn-button:hover{
	text-decoration: none;
	color: #fff;
}
.videolar{
	background-color: #f1f0ea;
	padding: 100px 0px;
}
.videolar iframe{
	border:solid 4px #fff;
	padding: 18px 22px;
}
.videolar h2{
	font-size: 30px;
	color: #d40039;
	text-align: center;
	padding-bottom: 32px;
}
.contact{
	background-color: #fff;
	padding: 100px 0px;
}
.contact h2{
	font-size: 30px;
	color: #d40039;
	text-align: center;
	padding-bottom: 32px;
}
.contact .form-control{
	height: 81px;
	background-color: #f6f5f5;
	border:solid 1px #d7d7d7;
	color:#c2c2c2;
	font-size: 21px;
}
.contact .form-control::-webkit-input-placeholder { /* Edge */
  color:#c2c2c2;
}

.contact .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#c2c2c2;
}

.contact .form-control::placeholder {
  color:#c2c2c2;
}
footer{
	font-size: 13px;
	color: rgba(255,255,255,1.00);
	padding: 25px 15px;
	text-align: center;
	background-color:#d40039; 
}
.pageup{
	position: fixed;
	right: 15px;
	bottom: 15px;
	
	
	
}